{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<!-- Start Hero Section -->
<div class="hero">
	<div class="line"></div>
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="{% static 'images/BannerImg.png' %}" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>HOT DEALS THIS WEEK<span class="d-block colorfont"><h2 class="font30">HotSale 50%</h2>
						MODERN FURNITURE</span></h1>
					<p>
						<a href="#" class="btn btn-white-outline">Ver ahora</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Hero Section -->

<section class="content-category">
	<div class="card-category">
		<img src="{% static 'images/post-1.jpg' %}" alt="Imagen de la categoría 1">
		<div class="float-text">
			<h3>Silla vintage</h3>
			<a href="#" class="btn-black-outline">Inspeccionar</a>
		</div>
	</div>

	<div class="card-category">
		<img src="{% static 'images/post-1.jpg' %}" alt="Imagen de la categoría 2">
		<div class="float-text">
			<h3>Jarrones de cerámica</h3>
			<a href="#" class="btn-black-outline">Inspeccionar</a>
		</div>
	</div>
</section>

<!-- Start Product Section -->
<section class="product-section">
		<div class="row justify-content-between">

			<!-- Start Column 1 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
					<img src="{% static 'images/product-1.png' %}" class="img-fluid product-thumbnail">
					<h3 class="product-title">Nordic Chair</h3>
					<strong class="product-price">$50.00</strong>

					<span class="icon-cross">
						<img src="{% static 'images/cross.svg' %}" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 1 -->

			<!-- Start Column 2 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
					<img src="{% static 'images/product-2.png' %}" class="img-fluid product-thumbnail">
					<h3 class="product-title">Kruzo Aero Chair</h3>
					<strong class="product-price">$78.00</strong>

					<span class="icon-cross">
						<img src="{% static 'images/cross.svg' %}" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 2 -->

			<!-- Start Column 3 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<div class="selected-item">
					<img src="{% static 'images/product-3.png' %}" class="img-fluid product-thumbnail">
					<h3 class="product-title">Ergonomic Chair</h3>
					<strong class="product-price">$43.00</strong>

					<span class="icon-cross">
						<a href="#"  >Ver todos</a>
					</span>
				</div>
			</div>
			<!-- End Column 3 -->
			
			<!-- Start Column 4 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<div class="selected-item" >
					<img src="{% static 'images/product-3.png' %}" class="img-fluid product-thumbnail">
					<h3 class="product-title">Ergonomic Chair</h3>
					<p class="little-desc">Silla plegable para el parque Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
					<strong class="product-price">$43.00</strong>

					<span class="icon-cross">
						<a href="#"  >Ver todos</a>
					</span>
				</div>
			</div>
			<!-- End Column 4 -->

			<div class="card-item">
				<img src="{% static 'images/product-3.png' %}" alt="#">
				<div class="card-content">
					<h2>t</h2>
					<a href="#">a</a>
				</div>
			</div>

			
		</div>
</section>
<!-- End Product Section -->


<section class="pre-footer-section">
	<img src="{% static 'images/cama.png' %}" alt="">
	<article class="pre-footer-article">
		<div>
			<h3>Vestidores de cama</h3>
			<h4>$150.00<span><h3>$220.00</h3></span></h4>
			<p>Mejores modelos y detalles en los mejores precios</p>
			<a href="#">Ver detalles</a>
		</div>
	</article>
</section>

{% include 'layout/footer.html' %}

{% endblock content %}