{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script type="text/javascript">
    (function(){
       emailjs.init("SxNpkTHnn9ytDYeS2"); // Reemplaza con tu ID de usuario de EmailJS
    })();
    
    function sendEmail(event) {
      event.preventDefault();
      emailjs.sendForm('service_q2sut59', 'template_rto047j', '#suscripcion-form')
        .then(function(response) {
          console.log('SUCCESS!', response.status, response.text);
          alert("Message sent successfully!");
        }, function(error) {
          console.log('FAILED...', error);
          alert("Failed to send the message.");
        });
    }
  </script>
<!-- Start Hero Section -->
<div class="hero">
	<div class="line"></div>
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="{% static 'images/BannerImg.png' %}" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>LOS MEJORES PRECIOS<span class="d-block colorfont"><h2 class="font30">SOLO PARA TI</h2>
						MODERN FURNITURE</span></h1>
					<p>
						<a href="{% url 'shop' %}" class="btn btn-white-outline">Ver ahora</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Hero Section -->

<section class="content-category">
	{% for category in categories_big %}
		<div class="card-category">
			{% if category.image %}
				<img src="{{ category.image.url }}" alt="Imagen de la categoría 1">
			{% else %}
				<img src="{% static 'images/post-1.jpg' %}" alt="Imagen de la categoría 1">
			{% endif %}
			<div class="float-text">
				<h3>{{ category.name }}</h3>
				<a href="{% url 'shop_with_category' category.id %}" class="btn-black-outline">Inspeccionar</a>
			</div>
		</div>
	{% endfor %}

	<div class="card-category">
		<img src="{% static 'images/post-1.jpg' %}" alt="Imagen de la categoría 2">
		<div class="float-text">
			<h3>Conoce todos los productos</h3>
			<a href="{% url 'shop' %}" class="btn-black-outline">Inspeccionar</a>
		</div>
	</div>
</section>

<!-- Start Product Section -->
<section class="product-section">
		<div class="row justify-content-between">
			{% for category in categories_small %}
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<div class="card-item">
						<div class="face front">
							{% if category.image %}
								<img src="{{ category.image.url }}" alt="">
							{% else %}
								<img src="{% static 'images/product-3.png' %}" alt="">
							{% endif %}
							<div class="card-data">
								<h3 class="text-black">{{ category.name }}</h3>
								<strong class="product-price text-black">{{ category.price }}</strong> 
							</div>
						</div>
						<div class="face back">
							<h3>{{ category.name }}</h3>
							<p>{{ category.description }}</p>
							<div class="card-link">
								<a href="{% url 'shop_with_category' category.id %}">Ver todos</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
</section>
<!-- End Product Section -->


<section class="pre-footer-section">
	<img src="{% static 'images/cama.png' %}" alt="">
	<article class="pre-footer-article">
		<div>
			<p><h3>Vestidores de cama</h3></p>
			<span class="fs-4"><strong>$150.00</strong></span><span class="fs-6 ms-4">$220.00</span>
			<p>Mejores modelos y detalles en los mejores precios</p>
			<a href="{% url 'product' 31 %}">Ver detalles</a>
		</div>
	</article>
</section>

<section class="subscription-form">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6">
				<p class="mb-0 fs-5"><strong>Regístrate para conocer mas</strong></p>
				<span>Suscríbete a nuestra familia para conocer más promociones</span>
			</div>
			<div class="col-12 col-sm-6">
				<form class="row" id="suscripcion-form" onsubmit="sendEmail(event)">
					<div class="col-12 col-sm-10  p-0 m-0">
						<input type="email" class="form-control" placeholder="Compártenos tu email" name="from_email">
					</div>
					<div class="col-12 col-sm-2  p-0 m-0">
						<button class="btn btn-primary">
							<span class="fa fa-paper-plane"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% include 'layout/footer.html' %}

{% endblock content %}