{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Cart
{% endblock title %}

{% block content %}
<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table">
            <thead>
              <tr>
                <th class="product-thumbnail"></th>
                <th class="product-name">Producto</th>
                <th class="product-price">Precio</th>
                <th class="product-quantity">Cantidad</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <td class="product-thumbnail">
                  {% if product.product_id.image %}
                    <img src="{{ product.product_id.image.url }}" alt="Image" class="img-fluid">
                  {% else %}
                    <img src="images/product-1.png" alt="Image" class="img-fluid">
                  {% endif %}
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{ product.product_id.name }}</h2>
                </td>
                <td id="product-price">${{ product.product_id.price }}</td>
                <td>
                  <div class="col-md-4 col-6 mb-3">
                    <div class="input-group mb-3" style="width: 170px;">
    
                      <button class="btn btn-white border border-secondary px-3" type="button" id="minus" data-mdb-ripple-color="dark">
                        <i class="fas fa-minus"></i>
                      </button>
    
                      <input type="number" name="units" id="units" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" value="1">
    
                      <button class="btn btn-white border border-secondary px-3" type="button" id="plus" data-mdb-ripple-color="dark">
                        <i class="fas fa-plus"></i>
                      </button>
    
                    </div>
                  </div>

                </td>
                <td id="total-price">${{ product.product_id.price }}</td>	
                <td><a href="{% url 'delete-cart' product.id %}" class="btn btn-black btn-sm">X</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6 mb-3 mb-md-0">
            <button class="btn btn-black btn-sm btn-block">Actualizar Carrito</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-outline-black btn-sm btn-block"><a href="shop" style="color: white !important;">Continuar comprando</a></button>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Total del Carrito</h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">Subtotal</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">$230.00</strong>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">$230.00</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Pagar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'layout/footer.html' %}

{% endblock content %}

{% block inline_javascript %}
<script type="text/javascript">
  $(document).ready(function(){
      function updateTotalPrice() {
        var units = $('#units').val();
        console.log("Units changed: ", units);
        
        let priceText = $("#product-price").text().replace(/[^\d.-]/g, '');
        let price = parseFloat(priceText);
        let total = price * units;
        
        $("#total-price").text("$" + total.toFixed(2));
      }

      $("#minus").click(function(){
        var units = parseInt($("#units").val());
        console.log("Units decreased: ", units);
        if(units > 1){
          $("#units").val(units-1).trigger('change');
        }
      });

      $("#plus").click(function(){
        var units = parseInt($("#units").val());
        console.log("Units increased: ", units);
        $("#units").val(units+1).trigger('change');
      });

      $("#units").on("change", function(){
        updateTotalPrice();
      });
    });

</script>
{% endblock inline_javascript %}