/*
Este archivo es para crear clases que modifique la estructura de los templates para llegar a igualar el mismo diseño del figma
*/

/*clases de colores que se usan en la paleta*/
.bg_footer{
    background-color: #8BA6AC;
}
.line_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #222222;
    color: white;
}
.bold{
    text-decoration: double !important;
    color: black !important;
}
.BanerColor{
    background-color:#BDCDD0; ;
}
.BanerBgColor{
    color:#BDCDD0;
}
.bgwhite{
    background-color:white;
    padding: 30px 0 0 100px ;
    margin-bottom: 30px;
}
.colorfont{
    color:#A86A3D;
}


/*Estilos de hero en la etiqueta h2 del banner*/
.font30{
    font-weight: 700;
    font-size:64px;
    text-decoration:double;
}



/*Estilos del footer que fueron necesarios*/
.desc{
    font-size: 14px;
    margin-bottom: 20px;
    color:black;
}

/*Estilos para el template de home.html*/
.content-category{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
    padding: 20px 12px;
    margin-left: 60px;
    margin-right: 60px;
    height: auto;
}

@media screen and (max-width: 768px) {
  .content-category {
      flex-direction: column;
      gap: 0;
      padding: 0 10px;
      margin-left: auto;
      margin-right: auto;
  }
    
}

.card-category {
    position: relative;
    width: 636px;
    height: 368px;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .card-category {
      width: 100%;
  }
}

.card-category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;
}

.float-text{
    position: absolute;
    top: 40%;
    bottom: 50%;
    right: 10%;
    width: 40%;
    height: 100px;
}

.btn-black-outline {
    background: transparent;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 12px;
    transition: transform .2s;
    padding: 5px 10px;
    border:1px solid black;
    text-decoration: none;
    font-size: 15px;
}

.btn-black-outline:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    transform: scale(1.5); 
}

/* .content-category{
    width: 100%;
    padding: 20px 40px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: -40px;
}
.content-category .cart{
    width: 48%;
    background-color: #EAE9E7;
    height: 250px;
    position: relative;
}
.content-category .cart .imgs{
    margin-top: 30px;
    padding-left: 10px;
}
.content-category .cart .imgs img{
    width: 50%;
    height: 50%;
    object-fit:contain;
    
}.content-category .cart .float{
    position: absolute;
    top:80px;
    left: 60%;
    right:10px;
}
.content-category .cart .float h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.content-category .cart .float a{
    text-decoration: none;
    color:black;
    font-size: 12px;
    padding: 5px 10px;
    border:1px solid black;
} */



/*section products*/
.product-section {
    padding: 20px 12px !important;
    margin: auto 60px;
}

.card-item {
    position: relative;
    padding: 0;
    margin: 20px;
    width: 306px !important;
    height: 422px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.card-item img {
    position: absolute;
    top: 0;
    width: 306px !important;
    height: 422px !important;
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: .5s;
}

.card-item:hover .card-content {
    opacity: 1;
}

/* .product-section .selected-item {
    position: relative;
    content: "";
    background: #FAFAFA;
    height: auto;
    border-radius: 10px;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    display: block;
    padding-bottom: 50px; }
    .product-section .selected-item:hover{
        background: rgba(0, 0, 0, 0.4); 
        color: white;
    }
    .product-section .selected-item .product-thumbnail {
      margin-bottom: 30px;
      position: relative;
      top: -25px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .product-section .selected-item h3 {
      font-weight: 600;
      font-size: 16px; }
      .product-section .selected-item .little-desc{
        padding: 5px 20px;
        font-size: 9px;
        display: none;
        color: white;
        text-align: center;
      }.product-section .selected-item .little-desc:hover{
        display: block;
      }
    .product-section .selected-item strong {
      font-weight: 800 !important;
      font-size: 18px !important; }
    .product-section .selected-item h3, .product-section .selected-item strong {
      color: white;
      text-decoration: none; }
    .product-section .selected-item .icon-cross {
      position: absolute;
      width: 85px;
      height: 30px;
      display: inline-block;
      border: 1px solid white;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 15px;
}   
.product-section .selected-item .icon-cross a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
}
.product-section .selected-item .icon-cross img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } */


/*Section banner finish*/

.pre-footer-section {
    position: relative;
    background-color: #8BA6AC;
    width: 100%;
    height: 510px;
    box-sizing: border-box;
}

.pre-footer-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pre-footer-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    opacity: 0.8;
    height: 338px;
    width: 545px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .pre-footer-article {
      width: 100%;
      height: auto;
      padding: 30px  0;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
  }
    
}

/* .content-img{
    margin-top: -30px;
    width: 100%;
    height: 300px;
    position: relative;
}.content-img img{
    width: 100%;
    height: 100%;
}.content-img .block{
    position: absolute;
    top: 50px;
    left: 10%;
    width: 320px;
    height: 200px;
    padding: 30px 40px;
    background-color: rgba(229, 230, 201, 0.9);
}.content-img .block .title{
    font-size: 16px;
}.content-img .block h4{
    font-size: 13px;
    color:#7B5136;
}.content-img .block .selt{
    font-size: 10px;
    color:#7B5136;
    text-decoration: line-through;
}
.content-img .block p{
    font-size: 8px;
    color:black;
}
.content-img .block a{
    text-decoration: none;
    color:black;
    font-size: 12px;
    padding: 5px 10px;
    border:1px solid black;
} */

/**Diseño del template de shop.html */


.content-products{
    margin-top: -80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}.content-products .search{
    width:20%;
    height: auto;
    margin: 0 auto;
    display: block;
    background-color: #EAE9E7;
}.content-products .search .head-search{
    height: auto;
    color: black;
    text-align: center;
    padding: 15px 0;
}.content-products .search .head-search h3{
    font-size: 16px;
}
.content-products .search .content-forms{
    margin-top: 10px;
    height: auto;
    padding: 10px 20px;
}.content-products .search .content-forms .search-form{
    height: auto;
    display: inline-block;
    width: 100%;
}.content-products .search .content-forms .search-form .first-section,.second-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid black;
}.content-products .search .content-forms .search-form .first-section h4,.second-section h4{
    font-size: 14px;
    color:black;
    margin: auto;
    padding: 10px 0;
}.content-products .search .content-forms .search-form .first-section .items-colors,.second-section .items-category{
    width: 100%;
    margin: auto;
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #fafafa91;
}

.items-colors input[type="checkbox"] {
    display: none;
  }
  
  .color-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
  }
  
  .items-colors input[type="checkbox"]:checked + .color-label {
    border-color: #000;
  }
  
  .items-category {
    display:flex;
    flex-direction: column;
    padding: 10px 20px;  
  }
  .items-category .item-cat{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .items-category input[type="checkbox"] {
    margin-right: 10px;
  }
  .items-category input[type="checkbox"]:checked + .category-label{
    color:red;
  }


.content-products .list-product{
    width: 75%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}.content-products .list-product .paddings{
    margin-right: 5px;
    padding-top: 15px;
}

.subscription-form {
    padding: 50px 62px;
}