{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>StyleHome | {% block title %}{% endblock title %}</title>
	<!-- Primary Meta Tags -->
	<meta name="title" content="StyleHome" />
	<meta name="description" content="Sitio web dedicado a la venta de muebles para el hogar" />
	<meta name="author" content="StyleHome Team">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

	<meta name="description" content="" />
    <!---new css to modify the style-->
    <link rel="stylesheet" href="{% static 'core/css/personalized/librery.css' %}" type="text/css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css' %}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
	<link href="{% static 'core/css/tiny-slider.css' %}" rel="stylesheet">
	<link href="{% static 'core/css/style.css' %}" rel="stylesheet">
	{% block extra_css %}
	<!-- Your stuff: Third-party CSS libraries go here -->
	<!-- This file stores project-specific CSS -->
	{% endblock extra_css %}

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	{% block extra_javascript %}
	<!-- Your stuff: Third-party javascript libraries go here -->
	<!-- place project specific Javascript in this file -->
	{% endblock extra_javascript %}

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:title" content="StyleHome" />
	<meta property="og:description" content="Sitio web dedicado a la venta de muebles para el hogar" />
	
	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content="" />
	<meta property="twitter:title" content="StyleHome" />
	<meta property="twitter:description" content="Sitio web dedicado a la venta de muebles para el hogar" />
</head>

<body>

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="#">Style Home.<span></span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="{% if request.path == '/' %}nav-item active{% endif %}">
						<a class="nav-link" href="{% url 'home' %}">Inicio</a>
					</li>
					<li class="{% if request.path == '/shop/' %}nav-item active{% endif %}">
						<a class="nav-link" href="{% url 'shop' %}">Tienda</a>
					</li>
					<li class="{% if request.path == '/about/' %}nav-item active{% endif %}">
						<a class="nav-link" href="{% url 'about' %}">Sobre Nosotros</a>
					</li>
					<li class="{% if request.path == '/contact/' %}nav-item active{% endif %}">
						<a class="nav-link" href="{% url 'contact' %}">Contáctanos</a>
					</li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" href="{% url 'login' %}"><i class="fa-solid fa-user text-black"></i></a></li>
					<li><a class="nav-link" href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping text-black"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
    
	<!-- End Header/Navigation -->

	{% block content %}

	{% endblock content %}

	<script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'core/js/tiny-slider.js' %}"></script>
	<script src="{% static 'core/js/custom.js' %}"></script>
	{% block inline_javascript %}
	<!-- Script tags with only code, no src (defer by default). To run
			with a "defer" so that you run inline code: -->
	{% endblock inline_javascript %}
	<script>
		if (document.startViewTransition) {
			window.navigation.addEventListener('navigate', (event) => {
				const toUrl = new URL(event.destination.url)
		
				if (location.origin !== toUrl.origin) return
		
				event.intercept({
					async handler () {
						const response = await fetch(toUrl.pathname)
						const text = await response.text()
						const [, data] = text.match(/<body>([\s\S]*)<\/body>/i)
		
						// View Transition API
						document.startViewTransition(() => {
							document.body.innerHTML = data
							document.documentElement.scrollTop = 0
						})
					}
				})
			})
		}
	</script>
</body>

</html>