<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container pt-5 pb-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-4"><a href="#" class="text-black fs-4"><strong>Style Home</strong></a></div>
                <p class="mb-2 text-black"><strong>Prolongación Quintín Arauz Carrillo 901</strong></p>
                <p class="mb-2 text-black"><strong>+52 9934315127</strong></p>
                <p class="mb-2 text-black"><strong>stylehome@outlook.com</strong></p>
            </div>
            <div class="col-lg-8">
                <p class="text-black"><strong>Compras</strong></p>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#" >Tu carrito</a></li>
                            <li><a href="#" >Productos</a></li>
                            <li><a href="#">Contáctanos</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#" >Tus pedidos</a></li>
                            <li><a href="#">whish list</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy line_footer">
        <span>Style Home © – Derechos Reservados</span>
    </div>
</footer>
<!-- End Footer Section -->	