{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Shop
{% endblock title %}

{% block content %}

<section class="gird-section">
	<aside class="col">
		<div class="options">
			<span><strong>Categorías</strong></span>
			<ul>
				<li>
					Dormitorio
					<ul>
						<li>Duvet Cover Set</li>
						<li>Hojas</li>
						<li>Mantas</li>
						<li>Cutains</li>
						<li>Rugs</li>
					</ul>
				</li>
				<li>Sala</li>
				<li>Cuarto de niño</li>
				<li>Baño</li>
				<li>Exterior</li>
			</ul>
		</div>
		<div class="options">
			<span><strong>Color</strong></span>
			<!-- <div class="color-selector">
				<input type="checkbox" name="" id="">
				<input type="checkbox" name="" id="">
				<input type="checkbox" name="" id="">
				<input type="checkbox" name="" id="">
				<input type="checkbox" name="" id="">
				<input type="checkbox" name="" id="">
				<input type="checkbox" name="" id="">
				<input type="checkbox" name="" id="">
				<input type="checkbox" name="" id="">
				<input type="checkbox" name="" id="">
			</div> -->
			<div class="color-options">
				<div class="color-box" style="background-color: #FF0000;"></div>
				<div class="color-box" style="background-color: #00FF00;"></div>
				<div class="color-box" style="background-color: #0000FF;"></div>
				<div class="color-box" style="background-color: #FFFF00;"></div>
				<div class="color-box" style="background-color: #FF00FF;"></div>
				<div class="color-box" style="background-color: #00FFFF;"></div>
				<div class="color-box" style="background-color: #000000;"></div>
				<div class="color-box" style="background-color: #FFFFFF;"></div>
				<div class="color-box" style="background-color: #808080;"></div>
				<div class="color-box" style="background-color: #FFA500;"></div>
			</div>
		</div>
		<div class="options">
			<span><strong>Precio</strong></span>
			<div class="price-selector">
				<label for="price-1">
					<input type="checkbox" name="" id="price-1">
					$0.00 - $10.00
				</label>
				<label for="price-2">
					<input type="checkbox" name="" id="price-2">
					$10.00 - $20.00
				</label>
				<label for="price-3">
					<input type="checkbox" name="" id="price-3">
					$20.00 - $30.00
				</label>
				<label for="price-4">
					<input type="checkbox" name="" id="price-4">
					$30.00 - $40.00
				</label>
				<label for="price-5">
					<input type="checkbox" name="" id="price-5">
					$40.00 - $50.00
				</label>
				<label for="price-6">
					<input type="checkbox" name="" id="price-6">
					$50.00 - $60.00
				</label>
			</div>
		</div>
	</aside>
	<article>
		<h2 class="mb-5">Productos</h2>
		<div class="row">
			{% for product in products %}
			<div class="col-12 col-md-4 col-lg-3 mb-3">
				<a href="{% url 'product' product.id %}" class="product-item" style="view-transition-name: product-{{ product.id }};">
					{% if product.image %}
						<img src="{{ product.image.url }}" alt="{{ product.name }}">
					{% else %}
						<img src="{% static 'images/product-3.png' %}" alt="">
					{% endif %}
					<div class="info pt-3">
						<h4>{{ product.name }}</h4>
						<span>{{ product.color_id.name }}</span>
						<p>${{ product.price }}</p>
					</div>
				</a>
			</div>
			{% endfor %}

			<div class="col-12 text-center">
				<a href="#" class="btn-black-outline">cargar mas</a>
			</div>
		</div>
	</article>
</section>
{% include 'layout/footer.html' %}

{% endblock content %}